
.profile {
  background-color: white;
  border: 0px;
  text-align: center;
}

.panel-heading {
  font-size: 2.5em;
  font-weight: 600;
  font-family: inherit;
}

.image-box {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  transition: transform .3s;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.title {
  text-align: center;
}

.bg {
  background-color: #EAEAEA;
  color: #2d2d2d;
  height: 100vh;
}

.link:hover {
  color: white;
}

.contact_height {
  height: 90vh;
}

.width{
  max-width: 800px;
}

.padding {
  margin-bottom: 10px;
  border-radius: 5px;
}

.margin{
  margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  .image-box {
    transition: transform .2s;
      width: 450px;
      height: 450px;
      margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .image-box:hover {
    transform: scale(1.2);
  }

  .fullPage {
    height: 100vh;
  }
}
